#signin.container-signin {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  background-color: var(--color-primary);
  padding: 3.6rem;
  height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.bg-image {
  position: absolute;
  height: 90vh;
}

#signin.container-signin .hero .hero-title {
  width: 300px;
  color: var(--color-text-in-primary);
  font: 500 2.6rem 'Poppins';
}

#signin.container-signin .form {
  width: 70%;
  margin: 6rem auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#signin.container-signin .form h1 {
  color: var(--color-text-title);
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

#signin.container-signin .form .login-defaults {
  margin: 3.2rem 0 4.8rem;
  display: flex;
  justify-content: space-between;
}

#signin .form .login-defaults .remember-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

#signin .form .login-defaults span {
  cursor: pointer;
}

#signin .form .login-defaults .remember-me span {
  margin-left: 1.6rem;
}

#signin .form .login-defaults .remember-me input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

#signin .form .login-defaults .remember-me .checkbox {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 0.8rem;
  background-color: var(--color-secundary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-defaults .remember-me .checkbox img {
  display: none;
}

.login-defaults .remember-me input:checked + img {
  display: block;
}

#signin.container-signin .form button {
  height: 5.6rem;
  background-color: #dcdce5;
  border: none;
  border-radius: 0.8rem;
  color: var(--color-text-complement);
  font: 600 1.6rem 'Archivo';
  cursor: pointer;
}

.link-container {
  margin: 16.0rem 0 0;
  display: flex;
  justify-content: space-between;
}

.link-container p a {
  color: var(--color-primary);
  font-weight: 600;
}

.link-container span img {
  margin-left: 0.8rem;
}

@media (min-width: 1000px) {
  #signin.container-signin {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    display: flex;
  }

}
